<%= form_for :session, url: sessions_path do |f| %>
  <p>
    <%= f.label :email %> </br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %> </br>
    <%= f.password_field :password %>
  </p>
  <%= f.submit "Sign In" %>
<% end %>