<h3> Create new article </h3>
<%= render "form" %>

<% if @articles.present? %>
  <h2> Articles <h2>
  <table>
    <th> <%= sort_by_field "Id" %> </th>
    <th> <%= sort_by_field "Title" %> </th>
    <th> <%= sort_by_field "Content" %> </th>
    <th> </th>
    <th> </th>
  
    <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <td> <%= article.id %> </td>
        <td> <%= link_to article.title, article_path(article) %> </td>
        <td> <%= article.content %> </td>
        <td> <%= link_to "Edit", edit_article_path(article) %> </td>
        <td> <%= link_to "Delete", article_path(article), method: :delete %> </td>
      </tr>
    <% end %>
  </table>
<% end %>