<h4> Find article </h4>
<%= form_for OpenStruct.new(params[:search]), as: :search, url: search_articles_path, method: :get do |f| %>
  <p>
    <%= f.label :title %> </br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %> </br>
    <%= f.text_area :content %>
  </p>
  <%= f.submit "Search", class: "btn btn-warning" %>
<% end %>

<hr> </hr>
<% if @articles.present? %>
  <h4> Articles <h4>
  <table class="table table-striped">
    <th> <%= sort_by_field "Id" %> </th>
    <th> <%= sort_by_field "Title" %> </th>
    <th> <%= sort_by_field "Content" %> </th>
    <th> </th>
    <th> </th>
  
    <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <td> <%= article.id %> </td>
        <td> <%= link_to article.title, article_path(article) %> </td>
        <td> <%= article.content %> </td>

        <% if can? :update, article %>
          <td> <%= link_to "Edit", edit_article_path(article) %> </td>
        <% end %>

        <% if can? :destroy, article %>
          <td> <%= link_to "Delete", article_path(article), method: :delete %> </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>