<h3> Article <%= @article.title %> </h3>
  Creator: <%= @article.user.name %> </br>
  Id: <%= @article.id %> </br>
  Title: <%= @article.title %> </br>
  Content: <%= @article.content %> </br>
  Category: <%= @article.categories.map(&:name).join(', ') if @article.categories.present? %> </br>

<% if can? :create, @article_category, @article %>
  <%= form_for @article_category, url: article_article_categories_path(@article) do |f| %>
    <%=f.label :add_category %>
    <%= f.select :category, available_categories(@article) %> </br>
    <%= f.submit "Add category", class: "btn btn-warning" %>
  <% end %>
<% end %>


<% if @article.comments.present? %>
  <h3> Comments </h3>
  <table class="table table-striped">
    <th> Id </th>
    <th> Content </th>
    <th> </th>
    <th> </th>
    <% @article.comments.each do |comment| %>
      <tr>
        <td> <%= comment.id %> </td>
        <td> <%= comment.content %> </td>

        <% if can? :update, comment %>
          <td> <%= link_to "Edit", edit_article_comment_path(@article, comment) %> </td>
        <% end %>
        
        <% if can? :destroy, comment %>
          <td> <%= link_to "Delete", article_comment_path(@article, comment), method: :delete %> </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<%= form_for [@article, @comment] do |f| %>
  <%= f.label :content %> </br>
  <%= f.text_area :content %> </br>
  <%= f.submit class: "btn btn-warning" %>
<% end %>
  