<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %> </br>
    <%= f.text_field :name %>
  </p>
  <p> <%= error_message :name, @user %> </p>
  <p>
    <%= f.label :email %> </br>
    <%= f.email_field :email %>
  </p>
  <p> <%= error_message :email, @user %> </p>
  <p>
    <%= f.label :password %> </br>
    <%= f.password_field :password %>
  </p>
  <p> <%= error_message :password, @user %> </p>
  <%= f.submit "Sign Up" %>
<% end %>