<h4> User <%= @user.name %> <h4>

<%= form_for @user, url: admin_user_path(@user) do |f| %>
  Id: <%= f.label @user.id %> </br>
  Name: <%= f.label @user.name %> </br>
  Email: <%= f.label @user.email %> </br>
  <p> Role: <%= f.select :role, User::ROLES, selected: @user.role %> </p>
  <p> Active: <%= f.select :active, [true, false], selected: @user.active? %> </p>
  <%= f.submit class: "btn btn-warning" %>
<% end %>
