<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p> <%= flash[:notice] %> </p>
<p> <%= flash[:error] %> </p>

<% if current_user %>
  <p> <%= "#{current_user.role}: #{current_user.name}" %> </p>
  <p> <%=link_to "All articles", articles_path %>
  <p> <%= link_to "Exit", session_path(current_user) %> </p>
<% else %>
  <p> <%= link_to "Sign Up", new_user_path %> </p>
  <p> <%= link_to "Sign In", new_session_path %> </p>
<% end %>

<%= yield %>

</body>
</html>
