<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="notice"> <%= flash[:notice] %> </p>
<p class="error"> <%= flash[:error] %> </p>

<ul class="nav nav-tabs nav-justified" role="tablist">
<% if current_user %>
  <li> <%=link_to "Create new article", new_article_path %>  </li>
  <li> <%=link_to "All articles", articles_path %>  </li>
  <% if can? :index, User %>
    <li> <%=link_to "All users", admin_users_path %>  </li>
  <% end %>
  <% if can? :index, ArticleCategory %>
    <li> <%=link_to "Articles categories", admin_categories_path %>  </li>
  <% end %>
  <% if can? :new, Subscription %>
    <li> <%=link_to "Create new subscriptions", new_admin_subscription_path %>  </li>
  <% end %>
  <li> <%=link_to "Subscriptions", subscriptions_path %>  </li>
  <% if can? :index, Setting %>
    <li> <%=link_to "Settings", admin_settings_path %>  </li>
  <% end %>
  <li> <%= link_to "Exit", session_path(current_user), method: :delete %> </li>
  <li class="active" align="right"> <%= "#{current_user.role.capitalize}: #{current_user.name}"  %> </br>
                                    <%= "Subscribed" if current_user.payment_profile.present? %>
  </li>
<% else %>
  <li> <%= link_to "Sign Up", new_user_path %> </li>
  <li> <%= link_to "Sign In", new_session_path %> </li>
<% end %>
</ul>

<%= yield %>

</body>
</html>
